.manage-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manage-reviews-content-wrapper {
    display: flex;
    gap: 50px
}

.manage-reviews-image {
    height: 250px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.manage-reviews-image:hover{
    box-shadow: 2px 2px 2px 2px gray;
}

.manage-reviews-reviews {
    margin-top: 50px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 50px
}

.manage-reviews-spot-name {
    color: black;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.manage-reviews-spot-name:hover {
    text-decoration: underline;
}

.manage-review-stars {
    color: rgba(0, 0, 0, 0.764);
}

.manage-reviews-navlink {
    text-decoration: none;
}

.manage-reviews-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px
}

.manage-reviews-date-review {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.manage-review-review-content {
    font-size: 20px;

}
