.spot-image {
    height: 300px;
    width: 500px;
}

.small-box {
    border-radius: 5px;
    border-color: white;
}

#reserve-button-id {
    font-weight: bold;
    background-color: red;
    width: 200px;
}
