.signup-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-top: -30px;
  width: 500px;
}

.signup-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 400px;
  border-radius: 5px
}

.signup-errors{
  color: red;
  font-weight: bold;
}

.signup-button {
  padding: 8px;
  margin-top: 30px;
  background-color: rgb(250, 47, 47);
  color: white;
  width: 300px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 20px;
  font-size: 1rem;
}

.signup-button:hover {
  cursor: pointer;
  background-color: rgb(214, 95, 95);
}

/* #submit-disabled {
  background-color: gray;
  width: 300px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 20px;
  font-size: 1rem;
}

#submit-enabled {
  background-color: rgb(250, 47, 47);
  color: white;
  width: 300px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 20px;
  font-size: 1rem;
} */

.signup-label-text {
  margin-bottom: 10px;
  margin-top: 10px;
}

.signup-container {
  display: flex;
  flex-direction: column;
}
