.new-review-container {
    width: 500px;
    border-radius: 20px;
    border-color: 10px solid black;
}

.title-header {
    align-items: center;
}

.review-text-box {
    width: 400px;
    display: flex;
    justify-content: center;
}

.review-stars {
    display: flex;

}
