.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red;
    color: white;
    width: 300px;
    height: 3rem;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 40px;
}

.submit-button:hover {
    background-color: rgba(252, 43, 43, 0.864);
}

.input-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30%;
}

.new-spot-submit-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    border-top: 2px solid black;
}

.photo-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 30px;
}

.error-container {
    display: flex;
}

.errors-style {
    color: red;
    font-weight: bold;
}

.placement {
    padding-top: 15px;
    padding-right: 10px;
}

.city-and-state {
    display: flex;
    flex-direction: column;
}

.description-textarea {
    resize: none;
}

.city {
    display: flex;
    flex-direction: column;
}

.input-size {
    width: 100%
}
