.hidden {
    display: none;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 35px;
    align-items: right;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 20px;
}

.button {
    width: 60px;
    height: 30px;
    padding: 0 7px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #717171;
    background-color: white;
    border-radius: 30px;
    border: 0.1px solid rgba(128, 128, 128);
}

.fas fa-user-circle {
    text-align: right;
}

.create-button {
    display: flex;
    color:white;
    text-decoration: none;
    font-weight: bold;
    justify-content: flex-end;
    margin-top: 5px;
    padding-right: 10px;
}

.sample {
    display: flex;
    padding: 5px;
}

#manage-spots{
    color: white;
}
